@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

* {
  font-family: "Nanum Pen Script";
}

.App {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  min-height: 100vh;
  padding: 0 20px;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: relative;
}

header {
  position: absolute;
  font-size: 32px;
  top: 5%;
  margin-bottom: 60px;
}

.sections {
  top: 12%;
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: space-between;
}

.sections .section1:hover .section2:hover .section3:hover .section4:hover {
  transform: translateY(-5px);
  transition: all 0.5 ease;
} 

.section1:hover {
  transform: translateY(-5px);
}

.section2:hover {
  transform: translateY(-5px);
}

.section3:hover {
  transform: translateY(-5px);
}

.section4:hover {
  transform: translateY(-5px);
}